<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.shmessenger.darwin.lltdDaemon</string>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<true/>
	</dict>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/usr/sbin/lltdDaemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>-launchDaemon</string>
	</array>
	<key>ServiceIPC</key>
	<false/>
</dict>
</plist>
