<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>llmnrd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lltddaemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E52240F718CF0CA200DD9E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59C3D6818E9B38C006836B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59E8BF218CF4D250054B295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE8A04A1930CD8B00BCBFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
